body {
    background-color: rgb(155, 127, 255);

}

section{
    background-color: chocolate;
    padding: 65px;
    margin: 50px;
    height: 600px;

    display: flex;
    flex-direction: row-reverse;
    // justify-content: space-between;
    align-items: stretch;

}

div{
    flex: 1;
    // width: 300px;
    // height: 600px;
    font-size: 25px;
    color: white;
    background-color: red;
    margin: 5px;
    text-align: center;

}





