main {
    background-color: aqua;
    height: 50vh;
    position: relative;
}

.img1{
    position: absolute;
    //top
    right: 10px;
    bottom: 10px;
    //left
}

.img2{
    position: absolute;
    bottom: 10px;
    left: 10px;
    z-index: 5;
}

.img3 {
    position: absolute;
    top: 0;
    right: 0;
}

.img4 {
    position: absolute;
    top: 0;
    left: 0;
}

div{
    background-color:transparentize(tomato, .5);
    position: absolute;
    top: 0%;
    right: 0;
    left: 0;
    bottom: 0;
    //transform: trasnslate3d: ();
    //text-align: center;
}





