// html {
//     background-color: aqua;
//}
@import url("https://use.fontawesome.com/releases/v5.0.8/css/all.css");

h1 {
    display: flex;
    justify-content: center;
}


ul {
    display: flex;
    justify-content: space-between;
}

li {
    flex-direction: row;

}

i {
    display: block;
    font-size: 32px;
    position: absolute;
    left: 50%;
    bottom: 10%;

    // transform: translateX(-50%);
    // animation:
    //     spinner 2s infinite linear,
    //     spinner 1.5s infinite linear 2s,
    //     spinner 1s infinite linear 4s,
    //     spinner .25s infinite linear 6s,
    //     spinner 2s infinite linear 10s; 
}







